
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background: linear-gradient(0deg, #6c96ea 0%, #300141 100%);
    min-height: 100vh;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #4ad1f7;
}

::-webkit-scrollbar-track {
    background-color: #4F468C;
    width: 50px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 12%;
    background: #4d4187;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 48px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.header__logo:hover {
    transform: scale(1.1);
}

.header__navbar a{
    font-size: 28px;
    color: #ffffff;
    margin-left: 64px;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.header__navbar a:hover,
.header__navbar a.active {
    color: #4ad1f7;
    border-bottom: 3px solid #4ad1f7;
}

.header__menu {
    font-size: 100px;
    /* color: #ffffff; */
    display: none;
}

.home {
    min-height: 100vh;
    padding: 160px 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.home__title {
    color: #4ad1f7;
    font-size: 50px;
    margin-bottom: 35px;
    font-weight: 700;
}

.home__about {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

.home__text {
    font-size: 25px;
    width: 60%;
    line-height: 40px;
    text-align: justify;
    font-weight: 500;
}

.education {
    padding: 100px 15px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin: 80px 0;
}

.education__timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.education__timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #4ad1f7;
    left: calc(50% - 1px);
}

.education__timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.education__timeline-item:last-child {
    margin-bottom: 0;
}

.education__timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.education__timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.education__timeline-dot {
    height: 21px;
    width: 21px;
    background-color: #4ad1f7;
    box-shadow: 0 0 25px #4ad1f7,
                0 0 50px #4ad1f7;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.education__timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    margin: 6px 0 15px;
}

.education__timeline-content {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 3px solid #4ad1f7;
    padding: 30px 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px #4ad1f7;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.education__timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #4ad1f7;
}

.education__timeline-content h3 {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 500;
}

.education__timeline-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.skills {
    padding: 100px 15px;
    display: flex;
    flex-direction: column;
}

.skills__frontend,
.skills__bakend,
.skills__database,
.skills__other {
    display: flex;
    flex-direction: column;
}

.skills__frontend h2 {
    margin: 0 0 20px;
}

.skills__title {
    font-size: 40px;
    text-align: center;
    color: #4ad1f7;
    margin: 50px 0 20px;
}

.skills__items {
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 20px;
}

.skills__item {
    /* border: 1px solid white; */
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #4ad2f7ad;
    box-shadow: 0 0 10px #4ad2f7ad;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.skills__item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #4ad1f7;
}

.skills__item-name {
    margin-top: 15px;
    font-size: 25px;
    color: #300141;
    font-weight: 600;
}

.skills__item-icon {
    font-size: 70px;
}