
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: #300141;
    --color-background: #6c96ea;
    --color-bright: #4ad1f7;
    --color-scrollbar: #4F468C;
    --color-header: #4d4187;
    --color-logo: #36186b;
    --color-background-menu: #631c9df1;
    --color-menu-bg: #44038af3;
    --color-text: #ffffffc9;
    --color-text-bold: #fffffff3;
    --color-email: #058abf;
    --color-telegram: #0303fc;
    --color-github: #250132;
    --color-socila: #666666;
    --color-skills: #4ad2f7ad;
    --color-skills-bg: rgba(0, 0, 0, 0.2);
    --color-window: rgba(0, 0, 0, 0.5);
    --color-modal: #adbddeef;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background: linear-gradient(0deg, var(--color-background) 0%, var(--color-dark) 100%);
    min-height: 100vh;
    color: var(--color-white);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-bright);
}

::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar);
    width: 50px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    background: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      var(--color-logo),
      transparent
    );
    text-transform: uppercase;
    font-size: 48px;
    color: var(--color-text-bold);
    text-shadow: 0 0 0.6rem var(--color-text-bold), 0 0 1.5rem var(--color-bright),
      -0.2rem 0.1rem 1rem var(--color-bright), 0.2rem 0.1rem 1rem var(--color-bright),
      0 -0.5rem 2rem var(--color-background), 0 0.5rem 3rem var(--color-background);
    animation: shine 2s forwards, flicker 3s infinite;
}
  
@keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: var(--color-text-bold);
      text-shadow: 0 0 0.6rem var(--color-text-bold), 0 0 1.5rem var(--color-bright),
        -0.2rem 0.1rem 1rem var(--color-bright), 0.2rem 0.1rem 1rem var(--color-bright),
        0 -0.5rem 2rem var(--color-background), 0 0.5rem 3rem var(--color-background);
    }
    28%,
    33% {
      color: var(--color-bright);
      text-shadow: none;
    }
    82%,
    97% {
      color: var(--color-background);
      text-shadow: none;
    }
}
  
.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}
  
.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}
  
@keyframes shine {
    0% {
      color: var(--color-logo);
      text-shadow: none;
    }
    100% {
      color: var(--color-text-bold);
      text-shadow: 0 0 0.6rem var(--color-text-bold), 0 0 1.5rem var(--color-bright),
        -0.2rem 0.1rem 1rem var(--color-bright), 0.2rem 0.1rem 1rem var(--color-bright),
        0 -0.5rem 2rem var(--color-background), 0 0.5rem 3rem var(--color-background);
    }
}
  
@keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
}

.header__navbar a{
    font-size: 28px;
    color: var(--color-white);
    margin-left: 64px;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.header__navbar a:hover,
.header__navbar a.active {
    color: var(--color-bright);
    border-bottom: 3px solid var(--color-bright);
}

.header__menu-min {
    display: none;
    z-index: 2;
}
  
.header__menu-bar {
    width: 55px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
  
.header__bar {
    height: 8px;
    width: 100%;
    background-color: var(--color-bright);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
  
.bar1 {
    transform: translateY(-4px);
}
  
.bar3 {
    transform: translateY(4px);
}
  
.header__nav {
    position: absolute;
    right: 1%;
    transition: 0.3s ease;
    display: none;
}

.header__nav a:hover,
.header__nav a.active {
    color: var(--color-bright);
    border-bottom: 3px solid var(--color-bright);
}
  
.header__nav ul {
    padding: 0 22px;
}
  
.header__nav li {
    list-style: none;
    padding: 12px 0;
}
  
.header__nav li a {
    color: var(--color-white);
    font-size: 20px;
    text-decoration: none;
}
  
.header__menu-bg,
.header__menu-min {
    right: 5%;
    position: absolute;
}
  
.header__menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, var(--color-background-menu), var(--color-menu-bg));
    border-radius: 50%;
    transition: 0.3s ease;
}
  
.change {
    display: block;
}
  
.change .header__bar {
    background-color: var(--color-white);
}
  
.change .bar1 {
    transform: translateY(10px) rotateZ(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
  
.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(65%, 30%);
}


.about {
    min-height: 100vh;
    padding: 160px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__title {
    color: var(--color-white);
    font-size: 50px;
    margin-bottom: 35px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 4s steps(29,end) 1s 1 normal both;
}

@keyframes animated-text{
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.about__me {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
}

.about__text {
    width: 100%;
    text-align: justify;
    font-weight: 500;
    margin-bottom: 35px;
    line-height: 35px;
}

.about__text h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
}

.about__text p,
.about__text ul {
    font-size: 25px;
    color: var(--color-text);
}

.about__text span {
    font-weight: 600;
    color: var(--color-text-bold);
}

.about__social-btns {
    display: flex;
    gap: 45px;
    margin-top: 35px;
    font-size: 45px;
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
    border-radius: 100%;
    background: var(--color-white);
    text-align: center;
}

.social-button::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}

.social-button:focus i,
.social-button:hover i{
    color: var(--color-white);
}

.social-button:focus::after,
.social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: calc(-50% - 1px);
}

.social-button i {
  position: absolute;
  z-index: 1;
  transition: 0.3s;
}

.social-button.email {
    color: var(--color-email);
}

.social-button.email::after {
    background: var(--color-email);
}

.social-button.telegram {
    color: var(--color-telegram);
}

.social-button.telegram::after {
    background: var(--color-telegram);
}

.social-button.github {
    color: var(--color-github);
}

.social-button.github::after {
    background-color: var(--color-github);
}

.social-button span {
    width: 150px;
    color: var(--color-socila);
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    z-index: -1;
    font-size: 18px;
    border-radius: 2px;
    background: var(--color-white);
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-button span:before {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-white);
    position:absolute;
    bottom:-5px;
    left:40px;
}

.social-button:hover span {
    bottom: 80px;
    visibility: visible;
    opacity: 1;
}

.education {
    padding: 100px 15px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin: 80px 0;
}

.education__timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.education__timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--color-bright);
    left: calc(50% - 1px);
}

.education__timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.education__timeline-item:last-child {
    margin-bottom: 0;
}

.education__timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.education__timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.education__timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--color-bright);
    box-shadow: 0 0 25px var(--color-bright),
                0 0 50px var(--color-bright);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.education__timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: var(--color-white);
    margin: 6px 0 15px;
}

.education__timeline-content {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 3px solid var(--color-bright);
    padding: 30px 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px var(--color-bright);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.education__timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--color-bright);
}

.education__timeline-content h3 {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 500;
}

.education__timeline-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.skills {
    padding: 100px 15px;
    display: flex;
    flex-direction: column;
}

.skills__frontend,
.skills__bakend,
.skills__database,
.skills__other {
    display: flex;
    flex-direction: column;
}

.skills__frontend h2 {
    margin: 0 0 20px;
}

.skills__title {
    font-size: 40px;
    text-align: center;
    color: var(--color-bright);
    margin: 50px 0 20px;
}

.skills__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 20px;
}

.skills__item {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--color-skills);
    box-shadow: 0 0 10px var(--color-skills);
    background: var(--color-skills-bg);
    backdrop-filter: blur(10px);
}

.skills__item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--color-bright);
}

.skills__item-name {
    margin-top: 15px;
    font-size: 25px;
    color: var(--color-dark);
    font-weight: 600;
}

.skills__item-icon {
    font-size: 70px;
}

.project {
    padding: 100px 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project__cards {
    border: 1px solid black;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper.project__slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.project__card {
    position: relative;
    width: 700px;
    height: 80%;
    border-radius: 20px;
    cursor: pointer;
}

.project__img {
    object-fit: fill;
    border-radius: 30px;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
    color: var(--color-scrollbar);
}

.project__arrow.swiper-button-prev {
    animation: animateLeft 2s infinite;
}

.project__arrow.swiper-button-next {
    animation: animateRight 2s infinite;
}

.swiper-button-prev span,
.swiper-button-next span {
    display: block;
    min-width: 32px;
    height: 32px;
}

.swiper-button-prev span {
    position: absolute;
    border-top: 3.5px solid var(--color-scrollbar);
    border-left: 3.5px solid var(--color-scrollbar);
    transform: rotate(-45deg);
    left: 18px;
}

.swiper-button-prev span:nth-child(2) {
    left: 28px;
}

.swiper-button-prev span:nth-child(3) {
    left: 38px;
}

.swiper-button-next span {
    position: absolute;
    border-bottom: 3.5px solid var(--color-scrollbar);
    border-right: 3.5px solid var(--color-scrollbar);
    transform: rotate(-45deg);
    right: 18px;
}

.swiper-button-next span:nth-child(2) {
    right: 28px;
}

.swiper-button-next span:nth-child(3) {
    right: 38px;
}

@keyframes animateRight {
    0% {
        opacity: 0;
        transform: translate(-10px, 0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(10px, 0);
    }
}

@keyframes animateLeft {
    0% {
        opacity: 0;
        transform: translate(10px, 0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-10px, 0);
    }
}

.swiper-pagination-bullet-active {
    background: var(--color-dark);
}

.project__card:hover .project__description {
    opacity: 1;
}

.project__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--color-skills-bg);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.project__name {
    font-size: 35px;
    margin-bottom: 15px;
}

.project__explanation {
    font-size: 25px;
    margin-bottom: 15px;
}

.project__show {
    font-size: 50px;
}

.window-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-window);
    display: none;
    z-index: 999;
}

.project__modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 95%;
    overflow: auto;
    border-radius: 30px;
    background-color: var(--color-modal);
    color: var(--color-dark);
    padding: 25px;
    overflow-y: hidden;
}

.project__modal-header {
    display: flex;
    margin-bottom: 5px;
}

.project__modal-title {
    text-align: center;
    width: 100%;
}

.project__modal-close {
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.project__modal-container {
    display: flex;
    height: 80vh;
    border: 1px solid black;
    justify-content: center;
    align-items: end;
    box-sizing: border-box;
}

.project__modal-container .project__modal-images {
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 95%;
}

.project__modal-container .project__modal-content {
    margin-top: 15px;
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 35px;
    overflow-y: auto;
    box-sizing: border-box;
}

.project__modal-content.recipes,
.project__modal-content.vesta {
    height: 100%;
}

.project__modal-block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 85vh;
}

.project__modal-block .project__modal-images {
    flex: 3;
    margin-bottom: 15px;
    width: 60% !important;
}

.project__modal-block .project__modal-content {
    flex: 3;
    box-sizing: border-box;
    height: 60vh;
    overflow-y: auto;
    padding-bottom: 15px;
}

.modal__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.modal__link {
    display: flex;
    margin-bottom: 5px;
    font-size: 22px;
}

.modal__link p {
    font-weight: 500;
    margin-right: 10px;
}

.modal__icon {
    font-size: 28px;
    margin-right: 5px;
}

.modal__details {
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 0 10px;
}

.modal__description {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 500;
    margin-top: 5px;
}

.modal__details li {
    font-size: 20px;
}

.project__modal-content.recipes li,
.project__modal-content.vesta li {
    font-size: 20px;
}

.project__modal-content.vesta li:nth-child(1) {
    margin-top: 15px;
}

.project__modal-content.vesta li {
    margin-bottom: 10px;
}

.project__modal-content span {
    font-weight: 600;
}

.modal__tools-title {
    margin-top: 15px;
}

.modal__title {
    font-size: 21px;
    font-weight: 500;
    text-decoration: underline;
}

.project__modal-images.weather {
    width: 850px;
    height: 400px;
}

.project__modal-images.recipes img{
    max-width: 700;
    height: 100%;
}

.project__modal-images.tasks {
    width: 900px;
    height: 450px;
}

.modal__tools {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.modal__tools li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-left: 10px;
    position: relative;
}

.modal__tools li::before {
    content: "•";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
}

.project__blocks {
    border: 1px solid black;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 100%;
    height: auto;
    padding: 15px;
}

.project__block {
    position: relative;
    width: 400px;
    height: 500px;
}

.project__block img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(54, 54, 54, 0.877);
}

.project__block:hover .project__description {
    opacity: 1;
}

.project__info {
    display: flex;
    gap: 15px;
}

.project__info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid var(--color-black);
    color: var(--color-black);
    overflow: hidden;
    position: relative;
}

.project__info-btn {
    position: relative;
    z-index: 3;
    transition: all 0.2s linear 0.2s;
}

.project__info-btn i {
    margin-left: 5px;
    transition: all 0.2s linear 0s;
}

.project__info-btn:hover {
    transition: all 0.2s linear 0s;
    border-color: transparent;
}

.project__info-btn:hover i {
    transform: scale(1.5);
    text-shadow: 4px 0px 3px rgba(#212121, 0.3);
    transition: all 0.2s linear 0.2s;
}

@media (max-width: 1350px) {
    .header {
        padding-inline: 8%;
    }

    .header__logo {
        font-size: 40px;
    }
}

@media (max-width: 1300px) {
    .project__modal-container .project__modal-images {
        flex: 3;
    }

    .project__modal-container .project__modal-content {
        flex: 2;
        padding-left: 20px;
    }

    .modal__function {
        display: none;
    }

    .modal__tools li {
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) {

    .header__logo {
        font-size: 35px;
    }

    .header__navbar a {
        margin-left: 30px;
    }

    .about__title {
        font-size: 35px;
    }

    .about__me {
        font-size: 25px;
    }

    .about__text h2 {
        font-size: 22px;
    }

    .about__text p,
    .about__text ul {
        font-size: 20px;
    }

    .project__cards {
        width: 90%;
    }

    .project__modal-block .project__modal-images {
        width: 75% !important;
    }
}

@media (max-width: 1050px) {
    .header {
        padding-inline: 5%;
    }

    .header__navbar {
        display: none;
    }

    .header__menu-min {
        display: block;
    }

    .project__cards {
        width: 100%;
    }

    .project__modal {
        width: 98%;
    }

    .modal__link,
    .modal__details li {
        font-size: 19px;
    }

    .project__modal h2 {
        font-size: 22px;
    }

    .modal__description {
        font-size: 20px;
    }
}

@media (max-width: 850px) {

    .about {
        padding-inline: 5%;
    }

    .about__title {
        font-size: 35px;
        white-space: initial;
        animation: none;
    }

    .education__timeline-items::before {
        left: 7px;
    }

    .education__timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .education__timeline-item:nth-child(odd),
    .education__timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .education__timeline-dot {
        left: 0;
    }

    .project__card {
        width: 500px;
        height: 70%;
    }

    .project__img {
        width: 500px;
        height: 300px;
    }

    .project__cards {
        display: none;
    }

    .project__blocks {
        display: flex;
    }

    .project__name {
        text-align: center;
        font-size: 25px;
        margin-bottom: 35px;
        font-weight: 600;
    }
}

@media (max-width: 500px) {

    .header__logo {
        font-size: 25px;
    }

    .about__social-btns {
        gap: 20px;
    }

    .social-button span {
        font-size: 16px;
        width: 135px;
    }

    .project__block {
        width: 280px;
        height: 400px;
    }

    .project__name {
        font-size: 22px;
    }
}